@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

/*////////// GLOBAL //////////*/

h3 {
  margin: 0 0 10px;
}

p {
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

.milk-text {
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.shadow {
  box-shadow: 0 3px 10px #333;
}

.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}

/*////////// BACKGROUNDS //////////*/

.white-wood {
  background: url(../images/white-wood.jpg) no-repeat center top;
  background-size: cover;
}

.light-fade {
  background: rgba(237,237,237,1);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 48%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(48%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 48%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 48%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 48%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 48%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}

.medium-fade {
  background: rgba(204,204,204,1);
  background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 63%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(63%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 63%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 63%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 63%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 63%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0 );
}

/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

/*/////// LAYOUT ////////*/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

.col-3 {
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/*/////// SOCIAL ////////*/

#social {
  position: fixed;
  top: 185px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  background: yellow;
}

/*////////// HEADER //////////*/

header {
  margin: 0 0 30px;
}

/*////////// NAVBAR //////////*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 16.6666%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
}

#navbar nav a.selected {
  background: #333;
  color: white;
}

#navbar nav a:hover {
  color: white;
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 25%, rgba(19,19,19,1) 57%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(57%, rgba(19,19,19,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 25%, rgba(19,19,19,1) 57%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 25%, rgba(19,19,19,1) 57%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 25%, rgba(19,19,19,1) 57%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
}

/*////////// LOGO //////////*/

#logo {
  padding: 84px 0 0;
}

#logo h1 {
  font-family: 'Clicker Script', cursive;
  margin: 0;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
  margin: 0;
}

/*////////// MAIN SECTIONS //////////*/

section {
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
}

/*////////// DETAILS //////////*/

#details {
  border-top: 1px solid white;
}

#details div {
  height: 221px;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}

/*////////// FOOTER //////////*/

footer {
  text-align: center;
  font-size: 0.75em;
  padding: 10px;
  background-color: #eee;
  border-top: 1px solid #ccc;
}
