@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

/*////////// GLOBAL //////////*/

h3 {
  margin: 0 0 10px;
}

p { 
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

.milk-text {
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.shadow {
  box-shadow: 0 3px 10px #333; /* (horizontal pos)(vertical direction)(blur radius)*/
}

.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}

/*////////// BACKGROUNDS //////////*/

.white-wood {
  background: url(../images/white-wood.jpg) no-repeat center top;
  background-size: cover;
}

.light-fade {
background: #999999; /* Old browsers */
background: -moz-linear-gradient(top,  #999999 0%, #ffffff 10%, #ffffff 91%, #999999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(10%,#ffffff), color-stop(91%,#ffffff), color-stop(100%,#999999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999999 0%,#ffffff 10%,#ffffff 91%,#999999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999999 0%,#ffffff 10%,#ffffff 91%,#999999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999999 0%,#ffffff 10%,#ffffff 91%,#999999 100%); /* IE10+ */
background: linear-gradient(to bottom,  #999999 0%,#ffffff 10%,#ffffff 91%,#999999 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}

.medium-fade {
background: #999999; /* Old browsers */
background: -moz-linear-gradient(top,  #999999 0%, #c9c9c9 35%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(35%,#c9c9c9), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999999 0%,#c9c9c9 35%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999999 0%,#c9c9c9 35%,#fcfcfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999999 0%,#c9c9c9 35%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #999999 0%,#c9c9c9 35%,#fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

/*/////// LAYOUT ////////*/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

.col-3 {
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/*/////// SOCIAL ////////*/

#social {
  position: fixed;
  top: 185px;
  right: 20px;
  width: 40px;
  z-index: 4;
  background-color: red;
  border: 3px solid black;
  margin: 0;
}

  a.fbook, a.twitt, a.gplus {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/social-icons.png) no-repeat;
  }

  a.fbook { background-position: 0 0; }
  a.fbook:hover { background-position: -40px 0; }
  a.fbook:active { background-position: -80px 0; }

  a.twitt { background-position: 0 -40px; }
  a.twitt:hover { background-position: -40px -40px; }
  a.twitt:active { background-position: -80px -40px; }

  a.gplus { background-position: 0 -80px; }
  a.gplus:hover { background-position: -40px -80px; }
  a.gplus:active { background-position: -80px -80px; }


/*////////// HEADER //////////*/

header {
  margin: 0 0 30px;
}

/*////////// NAVBAR //////////*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 16.66667%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
}

#navbar nav a.selected {
  background: #333;
  color: white;
}

#navbar nav a:hover {
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,0.42) 30%, rgba(255,255,255,0.01) 51%, rgba(255,255,255,0.39) 70%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(30%,rgba(255,255,255,0.42)), color-stop(51%,rgba(255,255,255,0.01)), color-stop(70%,rgba(255,255,255,0.39)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.42) 30%,rgba(255,255,255,0.01) 51%,rgba(255,255,255,0.39) 70%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.42) 30%,rgba(255,255,255,0.01) 51%,rgba(255,255,255,0.39) 70%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.42) 30%,rgba(255,255,255,0.01) 51%,rgba(255,255,255,0.39) 70%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.42) 30%,rgba(255,255,255,0.01) 51%,rgba(255,255,255,0.39) 70%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/*////////// LOGO //////////*/

div#logo {
  padding: 84px 0 0;
}

#logo h1 {
  font-family: 'Clicker Script', cursive;
  margin: 0;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
  margin: 0;
}

/*////////// MAIN SECTIONS //////////*/

section {
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;

}

/*////////// DETAILS //////////*/

#details {
  border-top: 1px solid white;
}

#details div {
  height: 221px;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}

/*////////// FOOTER //////////*/

footer {
  text-align: center;
  font-size: .75em;
  padding: 10px;
  background: #eee;
  border-top: 1px solid #ccc;
}


