@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Indie+Flower');
/* Exceptional Realty CSS Style */

/*/////////////GLOABAL///////////////*/
p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Black Han Sans', sans-serif;
}

figcaption {
/*  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Gerogia, "New Times Roman", serif; */
  font: normal 0.75em/1.5em Georgia, "Times New Roman", serif;
  color: green;
  text-align: right;
}

.milk-text {
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.shadow {
  box-shadow: 0 3px 10px #333;
}

.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}
/*//////////////LOGO//////////*/
#logo {
}

#logo h1 {
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Clicker Script', cursive;
}

#details a:link, #details a:link {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}

/* MEDIA STYLE */

img, video, audio {
  max-width: 100%;
}
/*STYLE LAYOUTS*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

.col-3 {
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/*Section LAYOUTS*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1;
}
section {
  margin-bottom: 20px;
  padding: 20px;
}

#social {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  background: yellow;
}
